<% if current_user&.admin? %>
<%= form_with(model: model) do |form| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
      <%= form.label :name, { class: "form-label"} %>
      <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
      </div>

      <div class="mb-3">
      <%= form.label :description, { class: "form-label"} %>
      <%= form.text_area :description, { class: "form-control", placeholder: "Description" } %>
      </div>

      <div class="mb-3">
      <%= form.label :brand_id, { class: "form-label"} %>
      <%= form.select :brand_id, @brands.map{ |b| [b.name, b.id] } %>
      </div>

      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<% end %>
