<br><%= button_to "Back to cars", cars_path, class: "btn btn-primary" %><br>
<% @cars.each do |car| %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <td><%= image_tag car.photo, size: "450x600"%><td>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Configuration:</strong></td>
                <td><%= car.name %></td>
              </tr>
              <tr>
                <td><strong>Model:</strong></td>
                <td><%= car.model.name %></td>
              </tr>
              <tr>
                <td><strong>Brand:</strong></td>
                <td><%= car.model.brand.name %></td>
              </tr>
              <tr>
                <td><strong>Cars count:</strong></td>
                <td><%= car.model.cars.count %></td>
              </tr>
              <tr>
                <td><strong>Fueltupe:</strong></td>
                <td><%= car.fueltype %></td>
              </tr>
              <tr>
                <td><strong>Bodytype:</strong></td>
                <td><%= car.bodytype %></td>
              </tr>
              <tr>
                <td><strong>Gearbox:</strong></td>
                <td><%= car.gearbox %></td>
              </tr>
              <tr>
                <td><strong>Price:</strong></td>
                <td><%= car.price %></td>
              </tr>
              <tr>
                <td><strong>Dealer:</strong></td>
                <td><%= car.dealer.name %></td>
              </tr>
            </tbody>
          </table>
          <%= button_to "Show this car", car, class: 'btn btn-secondary btn-sm', :method => :get %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>