<% if current_user&.admin? %>
<%= form_with(model: brand) do |form| %>
  <div class="card">
    <div class="card-body">

  <div class="mb-3">
    <%= form.label :name, { class: "form-label"} %>
    <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
  </div>

  <div class="field">
    <%= form.label :description, { class: "form-label"} %>
    <%= form.text_area :description, { class: "form-control", placeholder: "Description" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
