<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Fueltype:</strong>
    <%= car.fueltype %>
  </p>

  <p>
    <strong>Bodytype:</strong>
    <%= car.bodytype %>
  </p>

  <p>
    <strong>Gearbox:</strong>
    <%= car.gearbox %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model.name %>
  </p>

  <p>
    <strong>Dealer:</strong>
    <%= car.dealer.name %>
  </p>

</div>
