<%= form_with(model: car) do |form| %>
 <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :fueltype, style: "display: block" %>
    <%= form.select :fueltype, @fueltypes %>
  </div>

  <div>
    <%= form.label :bodytype, style: "display: block" %>
    <%= form.select :bodytype, @bodytypes, {} %>
  </div>

  <div>
    <%= form.label :gearbox, style: "display: block" %>
    <%= form.select :gearbox, @gearboxes, {} %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :model_id, style: "display: block" %>
    <%= form.select :model_id, @models.map{ |m| [m.name, m.id] }, {}, id: "model_selector" %>
  </div>

  <div>
    <%= form.label :dealer_id, style: "display: block" %>
    <%= form.select :dealer_id, @dealers.map{ |d| [d.name, d.id] } %>
  </div>

  <div>
    <%= form.label :brand_ids, style: "display: block" %>
    <%= form.select :brand_ids, @brands.map{ |b| [b.name, b.id] }, {}, id: "brand_selector" %>
  </div>

  <div class='form-group'>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
