<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <td><%= image_tag @car.photo, size: "450x600"%><td>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Configuration:</strong></td>
                <td><%= @car.name %></td>
              </tr>
              <tr>
                <td><strong>Model:</strong></td>
                <td><%= @car.model.name %></td>
              </tr>
              <tr>
                <td><strong>Brand:</strong></td>
                <td><%= @car.model.brand.name %></td>
              </tr>
              <tr>
                <td><strong>Cars count:</strong></td>
                <td><%= @car.model.cars.count %></td>
              </tr>
              <tr>
                <td><strong>Fueltupe:</strong></td>
                <td><%= @car.fueltype %></td>
              </tr>
              <tr>
                <td><strong>Bodytype:</strong></td>
                <td><%= @car.bodytype %></td>
              </tr>
              <tr>
                <td><strong>Gearbox:</strong></td>
                <td><%= @car.gearbox %></td>
              </tr>
              <tr>
                <td><strong>Price:</strong></td>
                <td><%= @car.price %></td>
              </tr>
              <tr>
                <td><strong>Dealer:</strong></td>
                <td><%= @car.dealer.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <% if current_user %>
    <% unless current_user.favorites.map(&:car_id).include?(@car.id) %>
      <br><%= button_to "Add to favorite", favorites_path(car_id: @car.id), method: :post, class: 'btn btn-secondary' %></br>
    <% else %>
      <br><%= button_to "Remove from favorites", favorite_path(car_id: @car.id), method: :delete %></br>
    <% end %>
  <% end %>
  <% if current_user&.admin? %>
  <%= button_to "Edit this car", edit_car_path(@car), class: 'btn btn-secondary' %>
  <%= button_to "Back to cars", cars_path, class: 'btn btn-secondary' %>

  <%= button_to "Destroy this car", @car, method: :delete, class: 'btn btn-secondary' %>
  <% end %>
</div>
